body {
  margin-left: 2%;
}

#elements_search_form {
  margin: 2% 10% 0 0;
  display: inline-block;
}
label {
  display: block;
}
input {
  margin-bottom: 2%;
}
.search_field {
  width: 500px;
  display: block;
}
.important_text {
  color: #D91E18;
}

p {
  display: table;
  margin-bottom: 0;
  padding: 0 15px 0 5px;
}

p:first-child {
  margin-top: 35px;
}


.element_property {
  color: red;
}
.element_name_origin {
  font-style: italic;
}
