body {
  margin-left: 2%;
}

input {
  margin: 2% .3% 2% .3%;
}

#result {
  width: auto;
  background-color: antiquewhite;
}
p {
  display: table;
  margin-bottom: 2px;
  padding: 0 15px 0 5px;
}
.element_property {
  color: red;
}
.element_name_origin {
  font-style: italic;
}
